body {
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: aqua;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}

.navbar a {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: #000000;
    transition: all .5s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgb(6, 201, 201);
    border-radius: 15px;
    padding: 1rem;
}

.bron {
    font-style: italic;
}

.output {
    margin: 4rem;
    padding: 2rem;
    background-color: #f1f1f1;
}