<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="../static/images.jpg">
    <title>Weerradar</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/get">Keuze 1</a>
            <a href="/get">Keuze 2</a>
            <a href="/3">Keuze 3</a>
        </div>
    </nav>
    <p>aaa</p>
    <br>
    {% if datum is defined %}
        <div class="output">
            <div class="bron">
                <p>{{ datum }} door {{ author }}</p> 
            </div>
            <h1>{{ titel }}</h1>
            <p>{{ weerbericht }}</p>
        </div>
    {% endif %}
</body>
</html>